.footer {
    display: flex;
    background-color: #264b46;
    color: white;
    text-align: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    justify-content: center;
}

.footer h3 {
    font-size: 15px;
    margin: 0;
}

.claseA {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.classEspace {
    margin-left: 40px;
}

.classP {
    cursor: pointer;
    font-size: 12px;
}
