.footer {
    display: flex;
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 20px;
    height: 100%;
}

.footer h3 {
    margin: 0;
    font-size: 15px;
}

.claseA {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.classP {
    cursor: pointer;
    font-size: 12px;
}
